@font-face {
  font-family: battlesbridge;
  src: url(../fonts/battlesbridge-font/BattlesbridgeDemo-AL126.ttf);
}

@font-face {
  font-family: thedarkestpearl;
  src: url(../fonts/thedarkestpearl-font/Thedarkestpearl-9Ym8Z.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: moon-regular;
  src: url(../fonts/moon-font/Moon2.0-Regular.otf);
}

@font-face {
  font-family: moon-bold;
  src: url(../fonts/moon-font/Moon2.0-Bold.otf);
}

@font-face {
  font-family: autour-one;
  src: url(../fonts/autour-one/AutourOne-Regular.ttf);
}

:root {
  --color-grey: #5c5b64;
  --color-lightgrey: #a09faa;
  --color-darker: #3b2718;
  --color-darker-focus: #553822;
  --color-dark: #8b4513;
  --color-light: #eeeeee;
  --font-heading: battlesbridge, cursive;
  --font-body: thedarkestpearl, sans-serif;
  --font-homescreen: Roboto, sans-serif;
  
  --font-heading-grid:   'autour-one', cursive;
  --font-headline-grid: 'moon-bold', sans-serif;
  --font-body-grid:      'moon-regular', sans-serif;
}
