*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  cursor: default;
}

img {
  object-fit: cover;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

select {
  border: none;
  outline: none;
}

h1 {
  font-size: calc(20px + 1vw);
}

h2 {
  font-size: calc(16px + 1vw);
}

p {
  font-size: calc(12px + 0.2vw);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-darker); 
  border-radius: 15px;
}