.settings-btn {
  background: #15d798;
  border-radius: 0.688rem;
  border: none;
  padding: 1rem 2rem;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

.lvl-icon {
  display: block;
  height: 3rem;
  width: 3rem;
}