@import url(/css/_variables.css);

body {
  color: var(--color-darker);
}

.main-container {
  display: flex;
  font-family: sans-serif;
}

.left {
  width: 50vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 25%;
  grid-template-rows: 20% 10% 30% 40%;
  grid-template-areas:
    "Logo Logo"
    "Levelauswahl Settings"
    "Aufgaben Aufgaben"
    "Editor Editor";
  gap: 0.625rem;
  justify-content: space-around;
  align-items: stretch;
  background: url(/assets/images/wood.jpg) no-repeat;
  background-size: cover;
  border-right: 5px solid var(--color-dark);
}

.game-logo {
  grid-area: Logo;
}

.levelauswahl {
  grid-area: Levelauswahl;
}

.aufgaben {
  grid-area: Aufgaben;
  width: 40vw;
  margin-bottom: -5rem;
}

.aufgaben-titel {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.aufgaben-text {
  font-size: 1.5rem;
}

.aufgaben-text-important {
  background-color: rgb(105, 105, 105);
  padding: 0 0.3rem;
}

.editor {
  grid-area: Editor;
  margin-bottom: 10rem;
}

/** Rechte Seite **/

.right {
  width: 50vw;
  height: 100vh;
  background: url(/assets/images/sand.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-right-player {
  width: 100%;
  height: 100%;
  display: flex;
}

.inner-right-target {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
}

.player-container {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.player-pirate {
  max-width: 10rem;
}

.target-container {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-treasure {
  max-width: 10rem;
}
