/* Setzt ein paar Browserstylings zurück, damit man wirklich von 0 aus stylen kann */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    cursor: default;
}