@import url(/css/_variables.css);

.settings-btn {
  background: var(--color-light);
  border-radius: 100%;
  border: none;
  padding: 1rem 2rem;
  color: var(--color-darker);
  display: inline-block;
  text-align: center;
}

.settings-content {
  display: none;
}

.settings:hover .settings-content {
  display: block;
}
