@import url(/css/_variables.css);

.settings-btn {
  height: 100%;
  cursor: pointer;
}

.settings-icon {
  max-height: 100%;
}

.settings-content {
  display: none;
}

.settings-content--active {
  display: block;
}
